body{
    

    display: grid;
    grid-template-areas: "header header header header header"
                         "tipo tipo tipo tipo tipo"
                         "marcas modelos ano ficha ficha"
                         "marcas modelos ano ficha ficha";
                         
    grid-template-columns: 17% 25% 12% 20% ;
    grid-template-rows: 10% 8% 60% 10%;
    grid-gap: 20px;

    height: 96vh;

    font-family: "Audiowide", sans-serif;
    
}

header{

    grid-area: header; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    font-size: 10px;
}

header div{
    float: right;
}

.marcas, .modelo, .ano p{
    text-align: center;
    color: black;
    overflow-y: auto;
}

.tipo{

    grid-area: tipo;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.tipo input{

    margin:15px;

}

.marcas{
    grid-area: marcas;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.modelo{
    grid-area: modelos;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.ano{
    grid-area: ano;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.ficha{
    grid-area: ficha;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    overflow-y: auto;
}
  


.ficha input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 96%;
    height: 25px;
    margin: 5px;
    
}
